doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content="IE=edge")
		meta(name='viewport' , content='width=device-width, initial-scale=1' )
		link(href='node_modules/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		title Web Whois
	body
		div.container
			h2 Web Whois
			form( class='form-horizontal', role='form' )
				div.form-group
					label(class='control-label col-sm-2') domains
					div.col-sm-10
						input( type='text', class='form-control', id='domains' ,placeholder='Please input domain, multiple domains need to separated by comma(,)' )
				div.form-group
					div(class='col-sm-offset-2 col-sm-10')
						button#submit( type='button', class='btn btn-primary' ) Submit

		div.container#result
		script(src='node_modules/jquery/jquery.js')
		script(src='node_modules/bootstrap/dist/js/bootstrap.min.js')
		script(src='my_script.js')
